/*
 * -----------------------------------------------------------------------------
 * @author      Ashraf Morningstar
 * @github      https://github.com/AshrafMorningstar
 * @repository  Project Graveyard - The Ultimate Archive
 * @quote       "Code that defines the future. Designed to inspire."
 * -----------------------------------------------------------------------------
*/

/* 
   Designed & Enhanced by Ashraf Morningstar
   Github: https://github.com/AshrafMorningstar
*/
/*navbar*/

#navbar{
    flex-direction:column;
}



/*home*/

#home{
    height:200px;
}
#home::before{
    height:370px;}
    #home p{
        font-size:8px;}

/*services*/

#services{
    flex-direction:column;

}



/*client section*/
#clients{
    overflow:hidden;
}




/*contact*/




/*foote*/
