/*
 * -----------------------------------------------------------------------------
 * @author      Ashraf Morningstar
 * @github      https://github.com/AshrafMorningstar
 * @repository  Project Graveyard - The Ultimate Archive
 * @quote       "Code that defines the future. Designed to inspire."
 * -----------------------------------------------------------------------------
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom globals */
body {
  margin: 0;
  overflow: hidden; /* Prevent scrolling of the desktop area */
  background-color: #000; /* Fallback */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100vw;
  height: 100vh;
}
