/*
 Copyright (c) 2026 Ashraf Morningstar
 These are personal recreations of existing projects, developed by Ashraf Morningstar
 for learning and skill development.
 Original project concepts remain the intellectual property of their respective creators.
 Repository: https://github.com/AshrafMorningstar
*/

# Dependencies
node_modules/
dist/
build/
.pnp
.pnp.js

# Testing
coverage/

# Production
.next/
out/
build/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Misc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Project specific
# automations/  <-- Commented out to allow tracking
*
*.zip
*.rar
*.7z
