name: Time Capsule

on:
  schedule:
    - cron: '0 3 * * *'
  push:

jobs:
  snapshot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install
        run: npm install
      - name: Run Capsule
        run: node scripts/capsule.js
