/*
 * -----------------------------------------------------------------------------
 * @author      Ashraf Morningstar
 * @github      https://github.com/AshrafMorningstar
 * @repository  Project Graveyard - The Ultimate Archive
 * @quote       "Code that defines the future. Designed to inspire."
 * -----------------------------------------------------------------------------
*/

/* Created by Ashraf Morningstar - https://github.com/AshrafMorningstar */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

body {
    background: #efefbb;
    background: linear-gradient(to right, #d4d3dd, #efefbb);
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

h1 {
    letter-spacing: 3px;
}

.poke-container {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon {
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.3s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

/* Holographic Effect */
.pokemon::before {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        120deg, 
        transparent, 
        rgba(255, 255, 255, 0.3), 
        transparent
    );
    transition: all 0.5s;
    transform: skewX(-20deg);
}

.pokemon:hover::before {
    left: 150%;
}

.pokemon:hover {
    transform: translateY(-5px) rotateX(5deg) rotateY(5deg);
}

.pokemon .img-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
    margin-bottom: 10px;
}

.pokemon .img-container img {
    max-width: 90%;
    margin-top: 20px;
}

.pokemon .info {
    margin-top: 20px;
}

.pokemon .number {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.8em;
}

.pokemon .name {
    margin: 15px 0 7px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.footer {
    margin-top: 20px;
    margin-bottom: 20px;
}
.footer a { color: #333; text-decoration: none; font-weight: bold; }
