/*
 * -----------------------------------------------------------------------------
 * @author      Ashraf Morningstar
 * @github      https://github.com/AshrafMorningstar
 * @repository  Project Graveyard - The Ultimate Archive
 * @quote       "Code that defines the future. Designed to inspire."
 * -----------------------------------------------------------------------------
*/

/* 
   Designed & Enhanced by Ashraf Morningstar
   Github: https://github.com/AshrafMorningstar
*/
body {
    color: #fff;
}

#highScoresList {
    list-style: none;
    margin-bottom: 4rem;
}

.high-score {
    font-size: 2.8rem;
    margin-bottom: 0.5rem;
}
