/*
 * -----------------------------------------------------------------------------
 * @author      Ashraf Morningstar
 * @github      https://github.com/AshrafMorningstar
 * @repository  Project Graveyard - The Ultimate Archive
 * @quote       "Code that defines the future. Designed to inspire."
 * -----------------------------------------------------------------------------
*/

/* 
   Designed & Enhanced by Ashraf Morningstar
   Github: https://github.com/AshrafMorningstar
*/
#root, body, html{
    height: 100%;
    margin: 0;
}

body{
    background: linear-gradient(rgba(14, 13, 13, 0.438), rgba(8, 8, 8, 0.425)), url(./assets/money.jpg);
    background-size: cover;
}