/*
 * -----------------------------------------------------------------------------
 * @author      Ashraf Morningstar
 * @github      https://github.com/AshrafMorningstar
 * @repository  Project Graveyard - The Ultimate Archive
 * @quote       "Code that defines the future. Designed to inspire."
 * -----------------------------------------------------------------------------
*/

/* 
   Designed & Enhanced by Ashraf Morningstar
   Github: https://github.com/AshrafMorningstar
*/
html,
body {
    height: 100%;
}

.text_box {
    padding: 30px;
    width: 50%;
    height: 100%;
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#container{
    width: 100%;
    height: 70%;
    background-color: white;
    display: flex;
    margin: 0 auto;
}

.center_buttons{
    margin:auto;
    display:block;
}
