/*
 * -----------------------------------------------------------------------------
 * @author      Ashraf Morningstar
 * @github      https://github.com/AshrafMorningstar
 * @repository  Project Graveyard - The Ultimate Archive
 * @quote       "Code that defines the future. Designed to inspire."
 * -----------------------------------------------------------------------------
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  background: #12151B;
}
