/*
 * -----------------------------------------------------------------------------
 * @author      Ashraf Morningstar
 * @github      https://github.com/AshrafMorningstar
 * @repository  Project Graveyard - The Ultimate Archive
 * @quote       "Code that defines the future. Designed to inspire."
 * -----------------------------------------------------------------------------
*/

/* File: index.css
 * Developed by Ashraf
 * GitHub: https://github.com/AshrafMorningstar
 * Created on: 2025-12-14
 */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mac-bg: linear-gradient(to bottom right, #2b5876, #4e4376);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: var(--mac-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  user-select: none; /* Desktop feel */
}

#root {
  height: 100%;
  width: 100%;
}
