/*
 * -----------------------------------------------------------------------------
 * @author      Ashraf Morningstar
 * @github      https://github.com/AshrafMorningstar
 * @repository  Project Graveyard - The Ultimate Archive
 * @quote       "Code that defines the future. Designed to inspire."
 * -----------------------------------------------------------------------------
*/

/* 
   Designed & Enhanced by Ashraf Morningstar
   Github: https://github.com/AshrafMorningstar
*/
#container {
    position: relative;
}

#ball {
    width: 20px;
    height: 20px;
    background-color: red;
    position: fixed;
    top: 20px;
    left: 52.5%;
    border-radius: 50%;
}

#rod1, #rod2 {
    width: 200px;
    height: 20px;
    position: fixed;
    left: 50%;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
}

#rod1 {
    background-color: blue;
    top: 1px;    
}

#rod2 {
    background-color: blueviolet;
    bottom: 1px;
}
