/*
 * -----------------------------------------------------------------------------
 * @author      Ashraf Morningstar
 * @github      https://github.com/AshrafMorningstar
 * @repository  Project Graveyard - The Ultimate Archive
 * @quote       "Code that defines the future. Designed to inspire."
 * -----------------------------------------------------------------------------
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

canvas {
    max-width: 100%;
    height: auto;
    background-image: 
      linear-gradient(45deg, #2a2a2a 25%, transparent 25%), 
      linear-gradient(-45deg, #2a2a2a 25%, transparent 25%), 
      linear-gradient(45deg, transparent 75%, #2a2a2a 75%), 
      linear-gradient(-45deg, transparent 75%, #2a2a2a 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
