/*
 * -----------------------------------------------------------------------------
 * @author      Ashraf Morningstar
 * @github      https://github.com/AshrafMorningstar
 * @repository  Project Graveyard - The Ultimate Archive
 * @quote       "Code that defines the future. Designed to inspire."
 * -----------------------------------------------------------------------------
*/

/* 
   Designed & Enhanced by Ashraf Morningstar
   Github: https://github.com/AshrafMorningstar
*/
footer {
    height: 80px;
    background-color: rgb(228, 228, 228);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #111;
}