/*
 * -----------------------------------------------------------------------------
 * @author      Ashraf Morningstar
 * @github      https://github.com/AshrafMorningstar
 * @repository  Project Graveyard - The Ultimate Archive
 * @quote       "Code that defines the future. Designed to inspire."
 * -----------------------------------------------------------------------------
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        @apply bg-card border border-white/5 rounded-xl p-6 shadow-xl;
    }
}
